<div class="container">
  <section class="center">
    <h1>I'm Here</h1>
    <p class="message">いるか、いないか<br>知りたいのはそれだけ</p>
  </section>
  <section class="home-img">
    <%= image_tag('sample.jpg',width: '100%', hight: 'auto') %>
  </section>
  <section class="center">
    <%= button_to("Create Room", {controller: 'static_pages', action: "home" }, { method: :get })%>
    <%= button_to("Try Demo", {controller: 'static_pages', action: "home" }, { method: :get })%>
  </section>
</div>