<main>
  <div class="container">
    <h1>Who's There</h1>
    <p class="message">いるか、いないか<br>知りたいのはそれだけ</p>
  </div>
  <div class='container room'>
    <div class="room-members">
      <% 6.times do |n| %>
        <form>
          <input disabled type="image" src="<%=asset_url("user_sample#{n}") %>" class="avatar" width="65px" height="65px">
        </form>
      <% end %>
    </div>
  </div>
  <div class='container'>
    <%= link_to("Create Room", new_room_path , class: 'btn') %>
    <%= link_to("Try Demo", "#" , class: 'btn') %>
  </div>
</main>
<script>
  function animation() {
    const avatar = document.getElementsByClassName('avatar');
    avatar[Math.floor(Math.random()*avatar.length)].classList.toggle('not_staying');
  }
  (function () {
    setInterval(animation,1000);
  }).call(this);
</script>