<main>
  <div class="container">
    <h1>Who's There</h1>
    <p class="message">いるか、いないか<br>知りたいのはそれだけ</p>
  </div>
  <div class='container room'>
  </div>
  <div class='container'>
    <%= link_to("Create Room", new_room_path , class: 'btn') %>
    <%= link_to("Try Demo", "#" , class: 'btn') %>
  </div>
</main>
