<div class="container">
  <section>
    <h1>Who's There</h1>
    <p class="message">いるか、いないか<br>知りたいのはそれだけ</p>
  </section>
  <section class="room-img">
  </section>
  <section>
    <%= link_to("Create Room", new_room_path , class: 'btn') %>
    <%= link_to("Try Demo", "#" , class: 'btn') %>
  </section>
</div>