<main>
  <div class="container">
    <h1>Login</h1>
    <!-- TODO: Login -> Room.name -->
  </div>
  <div class="container form">
    <%= form_for(:session, url: room_login_path ) do |f| %>

      <%= f.label ":password", "Password" %>
      <%= f.password_field :password %>

      <%= f.submit "login", class: "btn" %>
    <% end %>
  </div>
</main>
