<% provide(:form_url, room_users_path(@room.id) ) %>
<% provide(:button_text, 'Add User') %>
<main>
  <div class="container">
    <h1>New User</h1>
  </div>
  <div class="container form">
    <%= render 'form' %>
  </div>
</main>
