<div class="container">
  <section>
    <h1>New User</h1>

    <%= form_for(@user, url: room_users_path ) do |f| %>

    <%= f.label ":name", "User Name" %>
    <%= f.text_field :name, class: 'form-control' %>

    <%= f.submit "Add User", class: "btn" %>
  <% end %>
  </section>
</div>