<% provide(:form_url, room_path ) %>
<% provide(:button_text, 'UPDATE') %>
<main>
  <div class="container">
    <h1>Room Settings</h1>
  </div>
  <div class="container form">
    <%= render 'form' %>
  </div>
</main>
