<% provide(:form_url, room_path ) %>
<% provide(:button_text, 'UPDATE') %>
<main>
  <div class="container">
    <h1>Room Settings</h1>
  </div>
  <div class="container form">
    <%= render 'form' %>
  </div>
  <div class="container">
    <%= link_to "DELETE ROOM", room_path(@room) , class: 'btn', method: :delete,
                               data: { confirm: t('.confirm') } %>
  </div>
</main>
