<% provide(:form_url, rooms_path ) %>
<% provide(:button_text, 'CREATE') %>
<main>
  <div class="container">
    <h1>New Room</h1>
  </div>
  <div class="container form">
    <%= render 'form' %>
  </div>
</main>
