@import "variables";

/************************
  Global
************************/

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

body {
  background-color: $color-base;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
  color: $color-text-dark;
}

h1 {
  text-align: center;
}

h2 {
  padding-left: 20px;
  margin-bottom: 10px;
}

/************************
  Header
************************/

header {
  position: fixed;
  left: 0px;
  top: 0px;
  height: 50px;
  width: 100%;
  background-color:$color-background-dark;
  z-index: 1;
}

.header-logo {
  float: left;
  padding-left: 20px;
  line-height: 50px;
  a {
    color: $color-text-light;
    font-size: 22px;
    font-weight: bold;
  }
}

/************************
  Footer
************************/

footer {
  height: 30px;
  width: 100%;
  background-color:$color-background-light;
  color: white;
}

/************************
  Main Container
************************/
main {
  max-width: 600px;
  min-height: calc(100vh - 30px); // 100% - footer.height
  margin: auto; 
  padding: 50px 0 20px; //top=header.height, bottom=20px
}

div.container {
  width: 100%;
  margin-top: 20px;
}

div.room {
  min-height: 180px;
  padding: 10px 20px;
  background: #666 image-url('room_sample.jpg') no-repeat center;
  background-size: cover;
  z-index: 0;
  //TODO:子要素もグレースケール効くので死ぬ
  filter: grayscale(80%);
  text-align: center;
  form {
    display:inline-flex;
  }
}

div.form form{
  padding: 20px 20px 20px;
  background-color:$color-background-light;
  label {
    margin-bottom: 10px;
    width: 100%;
    display:block;
  }
  input[type="text"],
  input[type="password"],
  input[type="file"] {
    display:block;
    margin-bottom: 20px;
    width: 100%;
  }
}

div.users ul,
div.activity ul{
  list-style: none;
  background-color: $color-background-light;
  li {
    padding: 10px 0px;
    border-bottom: solid 2px $color-base;
    img {
      margin: 0px 10px;
      vertical-align: middle;
      float: left;
    }
    span {
      display: block;
    }
  }
}

/************************
  Parts
************************/

// message
p.message {
  font-size: large;
  text-align: center;
}

// button
.btn {
  display: block;
  top: 0px;
  margin: 10px auto;
  padding: 0.5em 1.5em 0.5em;
  line-height: 2em;
  width: 60%;

  font-size: 100%;
  color: $color-text-light;
  background-color: $color-background-dark;
  border: none;

  cursor: pointer;
  white-space: nowrap;
  text-align: center;

  -webkit-font-smoothing: antialiased;
  /* Transitions */
  transition: .2s all;
}

.btn:hover {
  top: 0px;
  background-color: lighten($color-background-dark, 20%);
}

.btn:active {
  top: 5px;
  background-color: lighten($color-background-dark, 20%);
}

// form
input[type="text"],
input[type="password"] {
  padding: 0.5em 0.6em;
  font-size: 0.8em;
  border: 1px solid $color-background-dark;
  box-shadow: inset 0 1px 3px $color-background-dark;
  border-radius: 4px;
  &:focus {
    outline: 0;
    border-color: #129FEA;
  }
}

// avatar
.avatar {
  border-radius: 5px;
  &.not_staying{
    filter: brightness(70%);
  }
}
