@import "variables";

.iziToast-layout4 {
  .iziToast-body {
    .iziToast-texts {
      width: 100%;
      .iziToast-message {
        width: 100%;
      }
    }
    input[type="text"] {
      margin-top: 5px;
      padding: 0.5em 0.6em;
      font-size: 0.8em;
      border: 1px solid $color-background-dark;
      box-shadow: inset 0 1px 3px $color-background-dark;
      border-radius: 4px;
      width: 100%;
    }
    .iziToast-buttons button.iziToast-buttons-child {
      background-color: $color-background-dark;
      color: white;
    }
  }
}