<% if errors.any? %>
  <div class="error_explanation">
    <%= I18n.t('.errors.template.body') %>
    <ul>
    <% errors.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
