<header class="header">
  <div class="header-logo">
    <a href="#">I'm Home</a>
  </div>
  <nav class="global-nav">
    <ul>
      <li><a href="">Share Room Link</a></li>
      <li><a href="">Member Setting</a></li>
      <li><a href="">Room Setting</a></li>
      <li><a href="">Feedback</a></li>
    </ul>
  </nav>
  <div class="hamburger" id="js-hamburger">
    <span class="hamburger_line1"></span>
    <span class="hamburger_line2"></span>
    <span class="hamburger_line3"></span>
  </div>
</header>
